$topnav-background-color:#FFF;
:host {
    .navbar {
        background-color: $topnav-background-color;

        .navbar-brand {
            color: #fff;
        }

        .nav-item > a {
            color: #565656;

            &:hover {
                color: #322c2c;
            }
        }
       
    }
  
}
