body{margin-top:20px;}

.card-big-shadow {
    max-width: 320px;
    position: relative;
}

.coloured-cards .card {
    margin-top: 30px;
}

.card[data-radius="none"] {
    border-radius: 0px;
}
.card {
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
    background-color: #FFFFFF;
    color: #252422;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}


.card[data-background="image"] .title, .card[data-background="image"] .stats, .card[data-background="image"] .category, .card[data-background="image"] .description, .card[data-background="image"] .content, .card[data-background="image"] .card-footer, .card[data-background="image"] small, .card[data-background="image"] .content a, .card[data-background="color"] .title, .card[data-background="color"] .stats, .card[data-background="color"] .category, .card[data-background="color"] .description, .card[data-background="color"] .content, .card[data-background="color"] .card-footer, .card[data-background="color"] small, .card[data-background="color"] .content a {
    color: #FFFFFF;
}
.card.card-just-text .content {
    padding: 50px 65px;
    text-align: center;
}
.card .content {
    padding: 20px 20px 10px 20px;
}
.card.blue.category {
    color: #7a9e9f;
}

.card .category, .card .label {
    font-size: 14px;
    margin-bottom: 0px;
}
.card-big-shadow:before {
    background-image: url("http://static.tumblr.com/i21wc39/coTmrkw40/shadow.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    bottom: -12%;
    content: "";
    display: block;
    left: -12%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}
h4, .h4 {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.2em;
}
h6, .h6 {
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
}
.card .description {
    font-size: 16px;
    color: #66615b;
}
.content-card{
    margin-top:30px;    
}
a:hover, a:focus {
    text-decoration: none;
}
.bg-ems{
    background-color: #348C6C;
}


.card.blue {
    background: #a3c8e5;
}
.card.blue .description {
    color: #3d5c77;
}
.card.blue .category {
    color: #5684ac;
}
.card.information {
    background: #e4a3e5;
}
.card.information .description {
    color: #713d77;
}
.card.information .category {
    color: #ac56a2;
}

.card.offers {
    background: #e5a3a3;
}
.card.offers .description {
    color: #77413d;
}
.card.offers .category {
    color: #ac6a56;
}

.card.entertainment {
    background: #d5e5a3;
}
.card.entertainment .description {
    color: #60773d;
}
.card.entertainment .category {
    color: #92ac56;
}

.card.projects {
    background: #ffe28c;
}
.card.projects .description {
    color: #b25825;
}
.card.projects .category {
    color: #d88715;
}

.card.health {
    background: #d6c1ab;
}
.card.health .description {
    color: #75442e;
}
.card.health .category {
    color: #a47e65;
}

.card.sponsors {
    background: #baa9ba;
}
.card.sponsors .description {
    color: #3a283d;
}
.card.sponsors .category {
    color: #5a283d;
}

.card.news {
    background: #ff8f5e;
}
.card.news .description {
    color: #772510;
}
.card.news .category {
    color: #e95e37;
}
