.bg-ems {
  background-color: rgba(235, 244, 240, 1);
  padding: 10px;
}

.text {
  width: 408px;
  height: 104px;
  left: 681px;
  top: 3586px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;

  /* Gray 2 */

  color: #4f4f4f;
}
