<div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-2 font-weight-bold">{{"Become our Partner"|translate}}</h1>
    </div>
</div>

<div class="container-fluid">
    <p class="text-center h5">
        Amplie suas oportunidades e nos ajude a construir um portal completo e essencial no mundo da tecnologia de multiprofissionais.

    </p>
    <p class="text-center">
        <a href="https://api.whatsapp.com/send?phone=5561996423080" class='btn btn-success btn-lg text-center' target="_blank">Quero ser parceiro</a>
    </p>
    <p class="text-center h5">
        O programa de parcerias de Anandharma Terapias Alternativas, foi desenvolvido para empresas e pessoas físicas que gostariam de divulgar soluções e oferecer seus serviços para comunidade através da prestação de serviços.
    </p>
</div>