<div class="container-fluid">
    <h3 class="display-2 font-weight-bold m-3">{{"About the company" | translate}}</h3>
    <p class="text-left text-break m-3">
        {{"The multiprofessional team is an interdisciplinary group that works together for a better result in            diagnosis and treatment. This team is built to meet the demand for a more complete care, adapting to the            needs of the patient in composition and performance, taking into account the resources available for better            care in health and well-being." | translate}}        </p>
    <h4 class="font-weight-bold m-3">
        O que representa AnanDharma e a unificação de Ananda + Dharma:
    </h4>
    <p class="text-justify m-3">
        <b> Ananda </b> é um termo que significa <em>êxtase</em> (sentimento) ou <em> felicidade suprema</em>,
        Ananda é uma das três características do Absoluto ou <span> Brahman:</span>
        <em> Sat</em> (realidade), Cit (consciência) e Ananda (beatitude). Dharma significa Lei no sentido mais
        amplo, bem como a vida que é vivida de acordo ou em harmonia com a lei (seja por estatutos legais ou pela
        lei natural). O Dharma designa comportamentos humanos considerados necessários no universo, princípios que
        impedem o caos, os comportamentos e as ações necessárias a toda a vida na natureza, na sociedade, na família
        e no nível individual. Com respeito ao seu significado espiritual, pode ser considerado como o "Caminho para
        a Verdade Superior." Felicidade Universal. Harmonia Suprema. O poder do sentimento em harmonia. Nosso
        proposito e compromisso seu bem – estar físico e metal com mais assertividade, qualidade e rapidez no
        serviço prestado tratando um corpo como um todo.
    </p>
</div>

<div class="container-fluid">
    <h1 class="m-3 display-2 font-weight-bold">Quem sou eu ?</h1>
    <p class="text-justify m-3">
        Eu me chamo Rosyenne Oliveira, sou Graduada em Pedagogia; pós graduada em Psicopedagogia; Orientadora
        Educacional; Terapeuta Holísticas; Pós graduação em Dermatologia; Cursando – Pós graduação em Fisioterapia
        aplicada na Estética e Fisioterapeuta em formação há sete anos trabalho com reabilitação esportiva/ massoterapia
        desportiva, assessorias esportivas e alinhamento postural.
        Em nossa evolução corporal comprometemos nossas estruturas de acordo com nosso ambiente e emoções, emoções que
        resultam em estruturas musculares, articulares e esqueléticas caídas, com ombros curvados, olhos fundos,
        perdendo a amplitude e mobilidade, e pôr fim a perca do movimento. Esse é o resultado natural de não termos
        desenvolvido uniformemente todos os músculos de nossa coluna, tronco, braços e pernas, ao estimularmos o corpo
        somente com movimentos do dia a dia e com atividades dentro do escritório.
        A realização dos exercícios com seriedade e regularidade, apenas algumas vezes por semana o corpo atingir o
        desenvolvimento ideal, com vigor mental inovando e crescimento espiritual.
        Desenvolvemos projetos para estabelecer a flexibilidade, amplitude de movimento, alinhados com reabilitações de
        lesões, cirurgias, devolvendo á graça natural e habilidades que serão refletidas, sem sombra de dúvida, em sua
        maneira de andar, divertir-se e trabalhar. Desenvolverá força muscular com capacidade correspondente para
        desempenhar tarefas árduas, praticar esportes, andar, correr ou viajar por longas distâncias, sem sentir cansaço
        corporal inadequado ou peso mental. Contando também com Nutricionista, Psicólogos e Terapeuta Holístico para
        tratar o indivíduo como um todo.
        Ao perceber a relação existente entre mente e corpo é todos os aspectos de nós mesmos e entre nós e o universo.
        A física moderna diz que a realidade é mais bem descrita como um todo indivisível que tudo está relacionado com
        tudo. A Revolução que chamamos de medicina da mente e do corpo e a Psicossomática.
        Que consiste que toda doença e criada através dos pensamentos e emoções sentidas. Atitudes positivas têm efeitos
        positivos a imunidade, ao passo que, atitudes negativas são debilitantes a saúde essas influências são
        transformadas em respostas físicas e químicas, incluindo a produção de hormônio e substância químicas produzidas
        pelo cérebro chamadas de neurotransmissores. Os estados mentais angustiados são convertidos em elementos
        bioquímicos que criam doenças. Todas doenças têm aspecto físico, mental, emocional espiritual e ambiental a ser
        desvendado.
        Anandharma com intuito de trazer comodidade, bem- estar para vocês reuniu os melhores profissionais da região
        para Equipe multiprofissional para tratar não somente o corpo mais o corpo e a mente. Venha conferir os melhores
        profissionais.

    </p>
</div>