<!-- Footer -->
<footer class="page-footer font-small blue pt-4" style="background-color: #F0F0F0;">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h3>{{"Social Media"| uppercase | translate}}</h3>
                <p>Texto.</p>
                <div class="row">
                    <div class="col-md-2"><i class="fa fa-whatsapp fa-3x" aria-hidden="true"></i> </div>
                    <div class="col-md-2"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i> </div>
                    <div class="col-md-2"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-2"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h3 class="text-uppercase">{{"Map" | titlecase | translate}}</h3>

                <ul class="list-unstyled">
                    <li>
                        <a class="text-success" href="javascript:void(0)" [routerLink]="['about']">Link 1</a>
                    </li>
                    <li>
                        <a class="text-success" href="javascript:void(0)" [routerLink]="['about']">Link 2</a>
                    </li>
                    <li>
                        <a class="text-success" href="javascript:void(0)" [routerLink]="['about']">Link 3</a>
                    </li>
                    <li>
                        <a class="text-success" href="javascript:void(0)" [routerLink]="['about']">Link 4</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h3 class="text-uppercase">{{"Contact" | translate | uppercase}}</h3>

                <ul class="list-unstyled">
                    <li>
                        <a href="javascript:void(0)">Link 1</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Link 2</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Link 3</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Link 4</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">&copy; {{year}}
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->