<!-- Footer -->
<footer class="page-footer font-small blue pt-4" style="background-color: #F0F0F0;">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->

                <h3>{{"Social Media"| translate | uppercase}}</h3>
                <div class="d-flex">

                    <a href="https://api.whatsapp.com/send?phone=5561996423080" class="fa fa-whatsapp fa-lg mx-1"
                        target="_blank"></a>
                    <a href="https://www.instagram.com/anandharma_terapias/" class="fa fa-instagram fa-lg mx-1"
                        target="_blank"></a>
                    <a href="https://www.youtube.com/channel/UCnkPwENdjF3XbYMA1pA-YnA/" class="fa fa-youtube fa-lg mx-1"
                        target="_blank"></a>
                </div>
                <p>Brasília – DF,<br /> QMSW 05 lote 10, ao lado da maternidade de Brasília –<br /> Bairro: Setor
                    Sudoeste, Brasília-DF, CEP:
                    70680500.</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h3 class="text-uppercase">{{"Map" | titlecase | translate}}</h3>

                <ul class="list-unstyled">
                    <li>
                        <a class="text-primary" href="javascript:void(0)" [routerLink]="['']">{{"Home" |
                            translate | uppercase}}</a>
                    </li>
                    <li>
                        <a class="text-primary" href="javascript:void(0)" [routerLink]="['/']" fragment='about'>{{"About" |
                            translate | uppercase}}</a>
                    </li>
                    <li>
                        <a class="text-primary" href="javascript:void(0)"
                            [routerLink]="['/']" fragment='professional'>{{"Professionals" |
                            translate | uppercase}}</a>
                    </li>
                    <li>
                        <a class="text-primary" href="javascript:void(0)"
                            [routerLink]="['/']" fragment='partner'>{{"Become our Partner" |
                            translate | uppercase}}</a>
                    </li>
                    <li>
                        <a class="text-primary" href="javascript:void(0)" [routerLink]="['news']">{{"News" |
                            translate | uppercase}}</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h3 class="text-uppercase">{{"Contact" | translate | uppercase}}</h3>

                <ul class="list-unstyled">
                    <li>
                        <h4>
                            <i class="fa fa-phone fa-lg"></i>
                            {{"Phone"| translate | uppercase}}
                        </h4>
                        <a href="https://api.whatsapp.com/send?phone=5561996423080" target="_blank">{{phone |
                            mask: '(00) 00000-0000'}}</a>
                    </li>
                    <br />
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        <p class="mt-3">
            Anandharma Terapias Alternativas CPNJ: 4100898400134 &copy; Todos os direitos reservados
        </p>
        &copy; {{year}} - {{"Version"|translate}} {{version}} -
        Desenvolvido por
        &nbsp;
        <a class="fa fa-linkedin"
            href="https://br.linkedin.com/in/douglas-shibata-546603180?trk=public_profile_recommendations/"
            target="_blank">
            &nbsp;
            Douglas</a>
        &nbsp; &
        <a class="fa fa-linkedin" href="https://www.linkedin.com/in/marcosallysson/" target="_blank"> &nbsp;
            Marcos Allysson</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->